<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawlnet -->
      <package
            uri="http://yawlnet.ecore"
            class="msbe.grpM.yawlpntd.yawlnet.YawlnetPackage"
            genModel="model/yawlnet.genmodel"/>
   </extension>
	<extension
   id="msbe.grpM.yawl"
   name="grpM.yawl"
   point="org.pnml.tools.epnk.pntd">
   <type
      class="msbe.grpM.yawlpntd.yawlnet.impl.YAWLNetImpl"
      description="Text explaining what this net type is" />
	</extension>
</plugin>
